<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>
	Salimos.com
	</title>
	<link rel="stylesheet" type="text/css" href="estilo1.css">
	<link rel="stylesheet" type="text/css" href="estilo2.css">
</head>
<body>
	<h1>Salimos.com</h1>
	<H2>Buscar evento por:</H5>
	<nav>
      <ul class="menu">
          <li><a href="" class="inicio">Inicio</a></li>
          <li class="prod"><a href="#" class="linkprod">Categorias</a>
              <ul class="submenu">
                  <li><a href="#">Festivales</a></li>
                  <li><a href="#">Criollas</a></li>
                  <li><a href="#">Ipicos</a></li>
                  <li><a href="#">Motores</a></li>
              </ul>
           </li>
            <li><a href="Lugares">Lugares</a>
            	 <ul class="submenu">
                  
              </ul>



            </li>
            <li><a href="#">Cómo se hace</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
  </nav>
<ul class="acordeon">
<li>
<h4>TITULO</h4>
<a href="URL_ENLACE"><img src="URL_IMAGEN" /></a>
</li>
<li>
<h4>TITULO</h4>
<a href="URL_ENLACE"><img src="URL_IMAGEN" /></a>
</li>
</ul> 
</body>
</html>